@model Siteware.Prototipo.Dominio.Promocao

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Promocao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parametros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parametros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BasePromocao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasePromocao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPromocao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPromocao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorPromocao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPromocao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseResultado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseResultado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoResultado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoResultado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorResultado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorResultado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
