@model Siteware.Prototipo.Dominio.Promocao

@{
    ViewBag.Title = "Detalhes da Promoção";
}

<h2>Detalhes da Promoção</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BasePropriedade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasePropriedade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseTipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseValor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseValor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResultadoPropriedade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultadoPropriedade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResultadoTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultadoTipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResultadoValor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultadoValor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
