@model IEnumerable<Siteware.Prototipo.Web.ViewModels.Promocao.PromocaoShowViewModel>
@{
    ViewBag.Title = "Promoções";
}

<h2>Promoções</h2>

<p>
    @Html.ActionLink("Nova Promoção", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.BasePropriedade)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.BaseTipo)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.BaseValor)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.ResultadoPropriedade)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.ResultadoTipo)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.ResultadoValor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.BasePropriedade)
        </td>
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.BaseTipo)
        </td>
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.BaseValor)
        </td>
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.ResultadoPropriedade)
        </td>
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.ResultadoTipo)
        </td>
        <td class="hidden-xs">
            @Html.DisplayFor(modelItem => item.ResultadoValor)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
