@model IEnumerable<Siteware.Prototipo.Dominio.Promocao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parametros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasePromocao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPromocao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorPromocao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseResultado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoResultado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorResultado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parametros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BasePromocao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPromocao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorPromocao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseResultado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoResultado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorResultado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
